<% include ../head %>
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0"/>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.3&key=ebb3310e602e7027987911af5e30be56"></script>
<div class="row">
	      <div class="col-sm-1"></div>
	      <div class="col-sm-2"  style='background-color: #aaa'>
	      	<% include ./left %>
	      </div>
	      <div class="col-sm-8" id='main'>
	      	<div id='toolbar'>请点击地图相关位置添加您的商铺</div>
	      	<div id="mapContainer" style='margin-top:36px;margin-left:12px;width:100%;height:600px'></div>
	      	<script>
	      		//初始化地图对象，加载地图
			    var map = new AMap.Map('mapContainer', {
					view: new AMap.View2D({
						center: new AMap.LngLat(116.397428, 39.90923),
						zoom: 18
					})
			    });
	      	</script>
	      </div>
	      <div class="col-sm-1"></div>
  </body>
</html>