<table id="refuseInfoTable" align='center' height='213px' align="center" >
		<tr>
			<td>
				驳回理由：<br>
				<textarea name='message' cols='69' rows='9' style="text-align: left;">
			</textarea>
			</td>
		</tr>
		<tr>
			<td align="center">
				<input type="hidden" name="id" value='<%-rs.id%>' />
				<input type="submit" class="btn btn-primary" value='驳回' />&nbsp;
				<input type="button" class="btn btn-primary" value='返回' onclick='onback()' />
			</td>
		</tr>

	</table>